.Dear_Fourth_logo {
    font-family: 'Yomogi', cursive;
}

.Dear_Fourth_footer_button {
    font-size: .6rem;
}

.Dear_Fourth_footer  {
    text-align:center;
    margin-top: 2rem;
}

.Dear_Fourth_header {
    text-align:center;
    margin: 2rem 0;
}

