    <!--  마진에 2가지 숫자를 넣으면 첫 인수는 상하의 마진, 두번째 인수는 좌우, font-family= head에 적용해 놓은 구글폰트를 적용  -->
    <div class="Dear_Fourth_header">
        <div>
            <h1 class="Dear_Fourth_logo">Dear_Fourth</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>

            <!--user가 로그인이 되어있지 않다면 login, 회원가입 보여주기, next로 get방식을 이용해 로그인 후 다시 원래 페이지로 돌아오게 한다-->
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>Login</span>
            </a>
            <a href="{% url 'accountapp:create' %}">
                <span>SignUp</span>
            </a>
            <!--user가 로그인이 되어있다면 mypage와 logout 보여주기-->
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>Logout</span>
            </a>
            {% endif %}
        </div>

    </div>