{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    <!--기본 부트스트랩에 내장된 패딩과 마진을 0으로 해서 중앙정렬로 사이즈 조정-->
    .container {
       padding: 0;
       margin: 0, auto;
    }

    <!--모바일에서는 45% 크기, 데스크탑에서는 250픽셀 크기-->
    .container a {
       width: 45%;
       max-width: 250px;
    }

    .container div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }

    .container img {
      width: 100%;
      border-radius: 1rem;
    }

</style>
    {% if article_list %}
    <div class="container">
        {% for article in article_list %}
        <a href="{% url 'articleapp:detail' pk=article.pk %}">
            <!--card안에 있는 article이 for문의 article과 같음을 의미 (그냥 include하면 article이 뭔지 모르니까-->
            {% include 'snippets/card.html' with article=article %}
        </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
      <h1>No Articles YET!</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: center">
        <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
          Create Article
        </a>
    </div>


{% endblock %}